.header {
     background: #1f2937;
     display: flex;
     justify-content: space-between;
     padding: 5px;
     width: 100%;

    }

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 26px;
    gap: 25px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
    width: 500px;
    padding: 0px;
    margin: 5%;
}

.image1 {
    width: 400px;
    height: 300px;
    margin: 5%;
}

.hero-container {
    background: #1f2937;
    color: #e5e7eb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 18px;
}

.hero-title {
    font-size: 48px;
    font-weight: 800;
    padding: 18px;
}

.button1 {
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    background-color: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    border: none;
}

.container {
    display: flex;
    justify-content: center;
    gap: 52px;
    text-align: center;
    padding: 8px;
}

.info {
    max-width: 200px;
}

img {
    width: 200px;
    height: 200px;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    padding: 20px;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex-end;
    flex-direction: column;
    margin-right: auto;
}

.quote2 {
    text-align: end;
    font-weight: bold;
    font-size: 20px;
}

.signup {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 60px;
    background-color: #3882F6;
    width: 700px;
    height: 15px;
    margin: 50px;
    margin-left: 90px;
}

.signup1 {
    font-weight: bold;
    font-size: medium;
}

.signup1, .signup2 {
    align-items: flex-start;

}

.button2 {
    cursor: pointer;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    background-color: #3882F6;
    font-weight: bold;
    color: #F9FAF8;
    border-style: solid;
    border-color: #e5e7eb
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    padding: 20px;

}